map $http_x_forwarded_proto $forwarded_proto {
  default $http_x_forwarded_proto;
  '' $scheme;
}

map $http_x_forwarded_port $forwarded_port {
  default $http_x_forwarded_port;
  '' $server_port;
}

map $http_x_forwarded_host $forwarded_host {
  default $http_x_forwarded_host;
  '' $host;
}

{{if exists "/self/service/metadata/ssl_cert"}}
server {
    listen 8080;
    return 301 https://$host$request_uri;
}
{{else}}
server {
  listen 8080;

  {{if exists "/self/service/metadata/root"}}
    root {{getv "/self/service/metadata/root"}};
  {{end}}

  {{if exists "/self/service/metadata/client_max_body_size"}}
    client_max_body_size {{getv "/self/service/metadata/client_max_body_size"}};
  {{else}}
    client_max_body_size 0
  {{end}}

  {{if exists "/self/service/metadata/index"}}
    index  {{getv "/self/service/metadata/index"}};
  {{end}}

  {{if exists "/self/service/metadata/resolver"}}
    resolver {{getv "/self/service/metadata/resolver"}};
  {{end}}

  {{if exists "/self/service/metadata/fcgi_pass"}}
    location / {
      try_files $uri $uri/ /index.php?q=$uri&$args;
    }

    location ~ \.php {
      include fastcgi_params;
      fastcgi_pass {{getv "/self/service/metadata/fcgi_pass"}};
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
    }
  {{else}}
    location / {

      {{if exists "/self/service/metadata/pool"}}
        proxy_pass http://{{getv "/self/service/metadata/pool"}};
      {{else}}
        proxy_pass http://$pool;
      {{end}}

      proxy_http_version 1.1;
      proxy_set_header Host $host;
      proxy_set_header X-Scheme $scheme;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Host $forwarded_host;
      proxy_set_header X-Forwarded-Proto $forwarded_proto;
      proxy_set_header X-Forwarded-Port $forwarded_port;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_buffering on;
      # This allows the ability for the execute shell window to remain open for up to 15 minutes.
      # Without this parameter, the default is 1 minute and will automatically close.
      proxy_read_timeout 900s;
      {{if exists "/self/service/metadata/auth/user"}}
        auth_basic "Restricted";
         auth_basic_user_file /usr/local/etc/nginx/conf.d/htpasswd;
      {{else}}
        auth_basic off;
      {{end}}
    }
  {{end}}
}
{{end}}
